version: '3.8'

services:
  postgres:
    image: postgres:14
    container_name: smart_campus_postgres
    environment:
      POSTGRES_DB: campus_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: campus123
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: smart_campus_backend
    depends_on:
      - postgres
    env_file:
      - ./backend/.env
    ports:
      - '5000:5000'
    volumes:
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules
    working_dir: /usr/src/app
    command: npm run dev

volumes:
  postgres_data:
